
body {
    background-color: black;
}

#header {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Orbitron', 'sans-serif';
}

#instructions {
    color: white;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-family: 'Orbitron', 'sans-serif';

}

h3 {
   position: relative;
   margin-right: 30rem;
   margin-left: 30rem;
    
}
#reset-button {
    color: white;
    background-color: black;
    border: 3px solid yellow;
    border-radius: 40px;
    margin: 3rem;
    font-family: 'Orbitron', 'sans-serif';
}

#container2 {
    float: right;
    margin-right: 20rem;
    margin-bottom: 20rem;
    font-family: 'Orbitron', 'sans-serif';
}

#container {
    float: left;
    margin-left: 20rem;
    margin-bottom: 20rem;
    font-family: 'Orbitron', 'sans-serif';
}

#player1LeftHand {
    margin-bottom: 1rem;
    font-family: 'Orbitron', 'sans-serif';
}
#player1RightHand {
    margin-bottom: 1rem;
    font-family: 'Orbitron', 'sans-serif';
}

#player2LeftHand {
    margin-bottom: 1rem;
    font-family: 'Orbitron', 'sans-serif';
}

#player2RightHand {
    margin-bottom: 1rem;
    font-family: 'Orbitron', 'sans-serif';
}


#player1Left1, #player1Left2, #player1Left3,
#player1Left4,  #player1Left5 {
    display: block;
    padding: 1.5rem;
    background-color: aqua;
    font-family: 'Orbitron', 'sans-serif';
}

#player1Right1, #player1Right2, #player1Right3,
#player1Right4,  #player1Right5 {
    display: block;
    padding: 1.5rem;
    background-color: aqua;
    font-family: 'Orbitron', 'sans-serif';
}

#player2Right1, #player2Right2, #player2Right3,
#player2Right4, #player2Right5 {
    display: block;
    padding: 1.5rem;
    background-color: red;
    font-family: 'Orbitron', 'sans-serif';
}


#player2Left1, #player2Left2, #player2Left3,
#player2Left4, #player2Left5 {
    display: block;
    padding: 1.5rem;
    background-color: red;
    font-family: 'Orbitron', 'sans-serif';
}
